/* index.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFEBD4;
  }
  
  .container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    background: #FFEBD4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  